* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;

  background-image: url("assets/nya_cat_haydiroket.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;

  color: white;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 12px;

  background: transparent;
  color: white;
}

.logo {
  font-weight: 900;
}

nav {
  display: flex;
  gap: 28px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
}

nav a:hover {
  opacity: 0.65;
}

.home {
  min-height: 100vh;
}